<div class="page-header">
  <h1>Submit a Report</h1>
</div>

<p>Many organizations have released national indicies of one sort or other over the years. It will take a while to gather them up, but doing so gives us a clearer picture of how the world is and has been.</p>

<p>By filling out the below and submitting an existing report, you can help us to clarify the lens.</p>

<% if @organization %>
  <%= simple_form_for @report, url: report_submissions_path, html: {class: 'form-horizontal'} do |f| %>
    <p><strong>1) Publishing Organization</strong> - this is the organization that published the report in question</p>
    <%= link_to @organization.name, organization_path(@organization) %>
    <%= f.hidden_field :organization_id %>

    <p><strong>2) The Report Series</strong> - this is the series of reports this report is published under</p>

    <%= f.input :name %>
    <%= f.input :url %>
    <%= f.input :description %>

    <div class="form-actions">
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% else %>
  <%= simple_form_for @report, url: new_report_submission_path, method: :get, html: {class: 'form-horizontal', 'data-behavior' => 'submit_on_change'} do |f| %>
    <p><strong>1) Publishing Organization</strong> - this is the organization that published the report in question</p>
    <%= f.collection_select :organization_id, Organization.all, :id, :name, include_blank: true %>

    or

    <%= link_to 'Create a new Organization', new_organization_path(return_to: new_report_submission_path), 'data-behavior' => 'modal' %>
  <% end %>
<% end %>
